docs/api/examples/n8n-lead-pipeline.json
{
    "name": "AstroLeads - Complete Lead Gen Pipeline",
    "nodes": [
        {
            "parameters": {
                "url": "https://api.astroleads.app/v1/campaigns",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "name": "Get Active Campaigns",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "1",
                    "name": "AstroLeads API"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://api.astroleads.app/v1/campaigns/{{$json.campaigns[0].id}}/leads",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "minScore",
                            "value": "85"
                        },
                        {
                            "name": "limit",
                            "value": "50"
                        }
                    ]
                }
            },
            "name": "Get Qualified Leads",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "1",
                    "name": "AstroLeads API"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.qualityScore}}",
                            "operation": "greaterOrEqual",
                            "value2": "90"
                        }
                    ]
                }
            },
            "name": "Filter High Quality",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "email": "={{$json.email}}",
                "additionalFields": {
                    "firstName": "={{$json.firstName}}",
                    "lastName": "={{$json.lastName}}",
                    "company": "={{$json.company}}",
                    "position": "={{$json.position}}",
                    "customFields": {
                        "astroleads_score": "={{$json.qualityScore}}",
                        "astroleads_source": "={{$json.source}}"
                    }
                }
            },
            "name": "Add to HubSpot",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                850,
                200
            ],
            "credentials": {
                "hubspotApi": {
                    "id": "2",
                    "name": "HubSpot"
                }
            }
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "channel": "#leads",
                "text": "🎯 New high-quality lead!\n\nName: {{$json.firstName}} {{$json.lastName}}\nCompany: {{$json.company}}\nPosition: {{$json.position}}\nScore: {{$json.qualityScore}}/100\nSource: {{$json.source}}"
            },
            "name": "Notify Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                850,
                400
            ],
            "credentials": {
                "slackApi": {
                    "id": "3",
                    "name": "Slack"
                }
            }
        }
    ],
    "connections": {
        "Get Active Campaigns": {
            "main": [
                [
                    {
                        "node": "Get Qualified Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Qualified Leads": {
            "main": [
                [
                    {
                        "node": "Filter High Quality",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter High Quality": {
            "main": [
                [
                    {
                        "node": "Add to HubSpot",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Notify Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}